[Desktop Entry]
Name=Test Drive the Ubuntu Development Branch
Comment=Download and run the current Ubuntu Development Snapshot in a Virtual Machine
Icon=/usr/share/icons/gnome/scalable/status/dialog-warning.svg
Exec=testdrive
Type=Application
Terminal=true
Encoding=UTF-8
Categories=Utility;System;
