Source: testdrive
Section: misc
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 6), gettext-base
Homepage: http://launchpad.net/testdrive
Vcs-Bzr: http://bazaar.launchpad.net/~kirkland/testdrive/trunk

Package: testdrive
Architecture: all
Depends: ${misc:Depends},
 debconf (>= 0.5) | debconf-2.0,
 qemu-kvm | kvm ( >= 1:84+dfsg-0ubuntu12.4 ),
 rsync,
 wget
Recommends: zsync
Suggests: testdrive-gtk
Description: run the daily Ubuntu ISO in a virtual machine
 Testdrive helps you download and run the daily Ubuntu development ISO
 in a virtual machine on your local hardware.
 .
 It is strongly recommended that you have a CPU with VT and sufficient
 memory on your system to host virtual machines.

Package: testdrive-gtk
Architecture: all
Depends: ${misc:Depends},
 debconf (>= 0.5) | debconf-2.0,
 python,
 python-gtk2,
 testdrive
Description: GTK front-end to the testdrive utility
 Testdrive-gtk provides a graphical frontend to the testdrive utility,
 allowing you point-and-click your way through ISO selection and most of
 the parameters supported by testdrive.
